.stats-value {
    font-size: 1rem; 
    margin-bottom: 0rem;
    margin-top: 0.2rem;
  }
  
.stats-label {
    font-size: 0.75rem; 
    margin-bottom: 0.2rem;
    margin-top: 0rem;
  }
  
.header-stats {
    background: white;
    border-radius: 0.5rem;
}

.empty-row {
  height: 2em;
}

.chart-area {
  background: white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}