<template>
      <div id="app">
        <div class="row header-stats">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2 text-center align-self-center">
                  <img src="../img/corti_logo.svg" alt="Corti Labs">
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-center stats-value"> {{ devicesDeployedValue }} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-label">{{ devicesDeployedString }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-value"> {{ daysSinceStartValue }} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-label"> {{ daysSinceStartString }} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-value"> {{ callsSinceStartValue }} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-label"> {{ callsSinceStartString }} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-value"> {{ caCallsSinceStartValue }} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-label"> {{ caCallsSinceStartString }} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-value">{{ avgTimeToDetectionValue }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center align-self-center">
                      <p class="text-center stats-label"> Avg. time to detection </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row empty-row">
          <div class="col-md-12"></div>
        </div>
        <div class="row chart-area">
          <div class="col-md-12">
              <bar-chart :chartData="chartData" style="background-color:white"></bar-chart>
          </div>
        </div>
      </div>
</template>

<script>
import BarChart from "./Barchart";
var socket = io();

const ONE_DEVICE_DEPLOYED = "Device deployed";
const MULTIPLE_DEVICE_DEPLOYED = "Devices deployed";

const ONE_DAY_SINCE_START = "Day since start";
const MULTIPLE_DAYS_SINCE_START = "Days since start";

const ONE_CALL_SINCE_START = "Call since start";
const MULTIPLE_CALLS_SINCE_START = "Calls since start";

const ONE_CA_CALL_SINCE_START = "CA call detected since start";
const MULTIPLE_CA_CALLS_SINCE_START = "CA calls detected since start";

export default {
  name: "app",
  components: {
    BarChart
  },

  data() {
    return {
      devicesDeployedValue: 0,
      devicesDeployedString: MULTIPLE_DEVICE_DEPLOYED,
      daysSinceStartValue: 0,
      daysSinceStartString: MULTIPLE_DAYS_SINCE_START,
      callsSinceStartValue: 0,
      callsSinceStartString: MULTIPLE_CALLS_SINCE_START,
      caCallsSinceStartValue: 0,
      caCallsSinceStartString: MULTIPLE_CA_CALLS_SINCE_START,
      avgTimeToDetectionValue: 0,
      chartLabels: [],
      chartValues: [],
    };
  },
  created: function() {
    socket.on("updated-stats", statsData => {
      console.log("Updates received! ", statsData);
      this.devicesDeployedValue = statsData.devicesDeployed;
      this.devicesDeployedString =
        this.devicesDeployedValue == 1
          ? ONE_DEVICE_DEPLOYED
          : MULTIPLE_DEVICE_DEPLOYED;

      this.daysSinceStartValue = statsData.daysSinceStart;
      this.daysSinceStartString =
        this.daysSinceStartValue == 1
          ? ONE_DAY_SINCE_START
          : MULTIPLE_DAYS_SINCE_START;

      this.callsSinceStartValue = statsData.callsSinceStart;
      this.callsSinceStartString =
        this.callsSinceStartValue == 1
          ? ONE_CALL_SINCE_START
          : MULTIPLE_CALLS_SINCE_START;

      this.caCallsSinceStartValue = statsData.caCallsSinceStart;
      this.caCallsSinceStartString =
        this.caCallsSinceStartValue == 1
          ? ONE_CA_CALL_SINCE_START
          : MULTIPLE_CA_CALLS_SINCE_START;

      this.avgTimeToDetectionValue = Math.round(statsData.avgTimeToDetection);

      let labels = [];
      let values = [];
      for(const entry in statsData.chartData) {
        labels.push(statsData.chartData[entry].group);
        values.push(statsData.chartData[entry].reduction);
      }

      // TODO (dota) this is ugly. The formatting of the chartData should be done in "barchart.vue"
      // Implement a 'watch' to monitor changes to chartData and 
      this.chartData = {
            "labels": labels,
            "datasets":[
                {
                    label: 'Detected cardiac arrest calls',
                    backgroundColor: '#00008B',
                    borderWidth: 10,
                    borderColor: '#00008B',
                    "data": values
                }
            ]
        } ;
    });
  }
};
</script>